@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


    <!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/mountains-55067.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-4 col-lg-4 col-xl-5">
                <div class="page-heading">
                    <img src="/assets/img/banner.jpg" class="img-fluid" style=""/>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h5>@Model.Username</h5>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
