@model BlogApp.ViewModels.PostCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

  <!-- Page Header-->
<header class="masthead" style="background-image: url(/assets/img/banner.jpg)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Blogs</h1>
                    <span class="subheading">Create your blog here.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<hr />
<div class="container">
    <div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="Edit"enctype= "multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.SubTitle" class="control-label"></label>
                <input asp-for="Post.SubTitle" class="form-control" />
                <span asp-validation-for="Post.SubTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Description" class="control-label"></label>
                <textarea asp-for="Post.Description" class="form-control"></textarea>
                <span asp-validation-for="Post.Description" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Categories" class="control-label">Category: </label>

                    //for(int i = 0; i < Model.Categories.Count; i++)
                    {
                        Html.HiddenFor(m => Model.Categories[i].Value);
                        Html.HiddenFor(m => Model.Categories[i].Text);
                        Html.CheckBoxFor(m => Model.Categories[i].Selected);
                         //<input type="hidden" asp-for="Categories[i].Value" />
                        //<input asp-for="Categories[i].Selected" />Model.Categories[i].Text
                    }
                </div>-->
            <div class="form-group">
                <label asp-for="uploadPhoto" class="control-label"></label>:
                <input asp-for="uploadPhoto" accept="image/*" required />
                <span asp-validation-for="uploadPhoto" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 mt-3">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-action="Index">Back</a>

            </div>
        </form>
    </div>

</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
